@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 15px;
}

/* HEADER START */
header {
  position: relative;
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
/* NAWIGACJA START */
.logo {
  font-family: Pacifico, serif;
  font-size: 3.3em;
  font-weight: lighter;
  color: #262626;
  margin-top: 30px;
}
nav {
  width: 77vw;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #262626;
  padding-top: 5px;
}

nav a:hover {
  border-top: 3px solid #ff6033;
}

nav ul li:not(:first-child) {
  text-transform: uppercase;
  font-size: 1.1em;
  margin-left: 35px;
  font-weight: 700;
  margin-top: 60px;
}
/* NAWIGACJA END */
/* HEADER INFO AND SCROLL */
.info {
  width: 77vw;
  margin: 235px auto 0px;
}

h2 {
  font-size: 4em;
  font-weight: 900;
}

p {
  font-size: 1.1em;
  margin-top: 20px;
  line-height: 1.6em;
}

button {
  background: #ff6033;
  width: 200px;
  height: 55px;
  font-size: 1.1em;
  font-weight: 100;
  color: #fff;
  border: none;
  margin-top: 20px;
  box-shadow: 3px 5px 15px rgb(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 300ms;
}

button:hover {
  background: #00aeae;
  transform: scale(1.05);
}

@keyframes scrolljump {
  from {
    bottom: 70px;
    opacity: 0;
  }
  to {
    bottom: 40px;
    opacity: 1;
  }
}

.scroll {
  background-image: url(../img/scroll.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 40px;
  position: absolute;
  bottom: 40px;
  left: 49%;
  animation: scrolljump 1300ms infinite ease-in-out;
}

/* BODY SECTION */
.about {
  display: flex;
  background: #00b4b4;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 77vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 0;
}

.img-about {
  background: url("../img/berries.png")  center / contain no-repeat;
  width: 60vw;
  height: 643px;
  margin-right: 50px;
  margin-left: 50px;
}

.info-about {

  width: 40vw;
  max-width: 510px;
  color: #fff;
}

.info-about {
  line-height: 1.8em;
}

h1 {
  font-size: 6em;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.1;
}

.service {
  display: flex;
  background: #70bfff;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.bg-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../img/tomato.png") center / contain no-repeat;
  max-width: 762px;
  height: 527px;
  object-fit: contain;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cat-tab {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #262626;
  width: 400px;
  height: 100px;
  box-shadow: 3px 5px 15px rgb(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  transition: transform 300ms;
}

.cat-tab:hover {
  background: #262626;
  color: #fff;
  transform: scale(1.1);
}

.cat-tab:hover .cat-icon {
  border-color: #fff;
}

.cat-tab h3 {
  flex-shrink: 2;
  margin-left: 25px;
}

.cat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-left: 1px solid #262626;
  font-size: 2.7em;
}

/* --- GALLERY ---  */

#gallery {
  background-color: #ffe92f;
  display: flex;
  justify-content: center;
  height: 100%;
}

#gallery p {
  width: 580px;
  text-align: center;
}

#gallery .container {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.gallery-grid {
  display: grid;
  width: 100%;
  max-width: 1200px;
  height: 1100px;
  grid-gap: 30px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1.5fr;
  margin-top: 50px;
}

.item1 {
  grid-area: 1 / 1 / 3 / 5;
}

.item2 {
  grid-area: 1 / 5 / 2 / 7;
  background: url(../img/img2.png) center / cover no-repeat;
}

.item3 {
  grid-area: 2 / 5 / 3 /7;
  background: url(../img/img3.png) center / cover no-repeat;
}

.item4 {
  grid-area: 3 / 1 / 4 / 4;
  background: url(../img/img4.png) center / cover no-repeat;
}

.item5 {
  grid-area: 3 / 4 / 4 / 7;
  background: url(../img/img5.png) center / cover no-repeat;
}

.img-container {
  overflow: hidden;
  box-shadow: 2px 3px 8px rgb(0, 0, 0, 0.3)
}

.img-effect {
  transition: transform 300ms;
}

.img-effect:hover {
  transform: scale(1.3) rotate(15deg);
}

.img1 {
  background: url(../img/img1.png) center / cover no-repeat;
  width: 100%;
  height: 100%;
}

.img2 {
  background: url(../img/img2.png) center / cover no-repeat;
  width: 100%;
  height: 100%;
}

.img3 {
  background: url(../img/img3.png) center / cover no-repeat;
  width: 100%;
  height: 100%;
}

.img4 {
  background: url(../img/img4.png) center / cover no-repeat;
  width: 100%;
  height: 100%;
}

.img5 {
  background: url(../img/img5.png) center / cover no-repeat;
  width: 100%;
  height: 100%;
}

.viewmore {
  background: #5783A6;
  margin-top: 40px;
}

/* -- END OF GALLERY -- */
/* SUBSCRIBE SECTION */
#subscribe {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#subscribe h3 {
  font-size: 2em;
}

#subscribe p {
  width: 42vw;
}

#subscribe label {
  display: none;
}

#subscribe .container {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.sub-input button {
  margin-left: 2em;
}

.sub-input input {
  width: 45em;
  height: 4em;
  padding: 2em;
}

.sub-input button {
  background: #97BA2C;
}

/* --- BLOG SECTION */
#blog {
  background-color: #B07CF8;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#blog .container {
  flex-direction: column;
  color: #fff;
}

#blog p {
  width: 580px;
  text-align: center;
}

.blog-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;

}

.blog-post {
  width: 30%;
  height: 300px;
  background: red;
}

.blog-item1 {
  background: url(../img/img1.png) center / cover no-repeat;
  width: 100%;
  height: 100%;
}

figure.blog-item2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0)), url(../img/img1.png) center / cover no-repeat;

}

figure {
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 20%;
}
